/*****************************
Baisc Page Layout
*****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Signika:400,600);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0;
}

/*****************************
Fonts
*****************************/

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolitionregular/abolition-regular-webfont.eot');
  src: url('../fonts/abolitionregular/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolitionregular/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolitionregular/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "foundation-icons";
  src: url("../fonts/foundation-icons/foundation-icons.eot");
  src: url("../fonts/foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/foundation-icons/foundation-icons.woff") format("woff"),
       url("../fonts/foundation-icons/foundation-icons.ttf") format("truetype"),
       url("../fonts/foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*****************************
Navigation - Top Bar
*****************************/

@media only screen and (min-width: 40.063em) {

    .contain-to-grid{
        background: rgba(255, 255, 255, 0.95);
    }

    .contain-to-grid {
        border-bottom: 2px solid #47ABED;
        min-height: 74px;
        margin-bottom: 74px; 
    }

    .top-bar {
        padding-top: 12px;
    }

    .top-bar,
    .top-bar-section ul li,
    .top-bar-section li:not(.has-form) a:not(.button),
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: transparent;
    }

    .top-bar-section ul li {
        margin-right: 5px;
    }

    .top-bar .name h1 a,
    .top-bar-section ul li>a,
    .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #47ABED; 
        border: 2px solid transparent;
    }

    .top-bar .name h1 a,
    .top-bar-section ul li>a,
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        font-weight: bold;
    }

    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        color: #47ABED;   
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #fff;
        background: #47ABED; 
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        border-radius: 5px;
        border: 2px solid #47ABED;
    }

    .top-bar .title-area {
        width: 66px;
        height: 66px;
        margin-top: -10px;
        margin-left: 30px;
    }

    .top-bar .title-area:hover {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
}

/*****************************
Navigation - Offcanvas menu
*****************************/

.tab-bar {
    color: #47ABED;
    border-bottom: 2px solid #47ABED; 
}

.tab-bar,
.right-off-canvas-menu {
    background: rgba(255, 255, 255, 0.95);
}

.right-small {
    border-left: 2px solid #47ABED; 
}

.tab-bar .menu-icon span::after {
    box-shadow: 0 0 0 1px #47ABED,0 7px 0 1px #47ABED,0 14px 0 1px #47ABED;
}

.tab-bar-section img {
    width: 2.3rem;
    height: 2.3rem;
    margin-bottom: 5px;
}

.tab-bar-section img:hover {
    -webkit-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

ul.off-canvas-list li label {
    background: rgba(71, 171, 237, 1);
}

ul.off-canvas-list li label,
ul.off-canvas-list li a:hover,
ul.off-canvas-list li.active a {
    color: #fff;
} 

ul.off-canvas-list li a {
    color: rgba(71, 171, 237, 0.7);
    border-bottom-color: #47ABED;
}

ul.off-canvas-list li a:hover {
    background: rgba(71, 171, 237, 0.7);
}

ul.off-canvas-list li.active {
    background: rgba(71, 171, 237, 0.7);
}

/*****************************
Hero Image
*****************************/

.hero_image {
    margin-top: 74px;
    padding-top: 100px;
    height: 700px;
    background: linear-gradient(#47ABED, transparent 90%), 
                linear-gradient(0deg, #fff, transparent), 
                #47ABED url('../img/apple-ipad.png') no-repeat center;
    background-size: cover;
    text-align: center;
}

.title {
    font-size: 1.625rem;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.hero_image h1 {
    font-size: 5.625rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: 12px 0 0;
    font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

.title,
.hero_image h1 {
    color: white;
}

.arrow {
    width: 50px;
    margin-top: 200px;
}

.arrow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

/*****************************
Recommedation Page Layout
*****************************/

#products {
    margin-top: -100px;
}

#left_info,
#right_info {
    padding-left: 0;
    padding-right: 0;
}

#products h1 {
    font-family: 'Signika' sans-serif;
    color: #CF0000;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 40px;
}

.product .img_price {
    text-align: center;
}

.product .img_price img {
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 120px;
}

.product .img_price p,
.product .details .sku {
    text-transform: uppercase;
}

.product .img_price .price_match {
    color: #47ABED;
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 0;
}

.product .img_price .price_match span {    
    font-weight: 800;
}

.product .img_price h2 {
    font-size: 1.6em;
}

.product .img_price .onsale h4 {
    font-size: 1.2em;
    color: #FF6600;
}

.product .img_price .onsale .savings {
    color: #CF0000;
    font-size: 0.8em;
    padding-top: 5px;
}

.product .img_price .onsale .savings span {
    color: rgba(0, 0, 0, 0.5);
}

.product .details h2,
.product .details h3 span {
    color: #003481;
}

.product .details h2 {
    font-size: 1em;
}

.product .details a:hover {
    text-decoration: underline;
}

.product .details .sku { 
    font-size: 0.75em;
    padding-top: 5px;
    margin-bottom: 0;
}

.product .details .sku span {
    font-weight: bold;
}

.product .details p {
    padding-top: 10px;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.product .details h3 {
    font-size: 1.2em;
}

.product .details h3 span {
    font-size: 0.8em;
    padding-left: 5px;
}

.product .details .fi-star {
    color: #FFCC00;
}

.col {
    height: 290px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.col:hover {
    background: rgba(71, 171, 237, 0.2);
    border-radius: 10px;
}

/*****************************
Accordion
*****************************/

.accordion__container {
    background: #eee;
    border: 1px solid #ccc;
    padding: 20px;
}
.accordion__tab {
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid white;
}
.accordion__tab-title {
    background: #888;
    padding: 5px;
    cursor: pointer;
}
.accordion__tab-content {
    background: #999;
    padding: 20px;
}

/*****************************
Store Search Fields
*****************************/

.search_store {
    padding-top: 80px;
}

fieldset, 
input[type="text"],
select {
    border-radius: 5px;
}

select:hover,
input[type="text"]:focus {
    background: rgba(71, 171, 237, 0.05);   
}

select:hover,
input[type="text"]:focus,
input[type="text"],
select {
    border-color: rgba(71, 171, 237, 0.4);
}

input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(71, 171, 237, 0.8);
}

input[type="text"],
select {
    box-shadow: inset 0 1px 2px rgba(71, 171, 237, 0.1);
}

fieldset legend {   
    font-family: 'Signika' sans-serif;
}

label,
fieldset legend {
    color: #3A8BC0;
}

select {
    background-color: #fff;
}

.search_store .button {
    background-color: #47ABED; 
}

.search_store .button:hover {
    background-color: #3A8BC0;
}

.search_store .search_btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="text"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.formgroup {
    margin-top: 25px;
}

#filter_left,
#filter_middle,
#filter_right {
    padding-left: 0;
}

input[type="radio"]+label {
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}

/*****************************
Store Search Results
*****************************/

.results .nofound {
    text-align: center;
    padding-top: 15px; 
}

.results .nofound h2 {
    color: #47ABED;
    font-size: 1.5em;
}

.results .stores {
    padding-top: 15px;
}

.results h4 {
    font-size: 1em;
    color: #47ABED;
    margin-bottom: 10px;
}

.store {
    height: 300px;
    padding: 10px;
    border-radius: 10px;
}

.store:hover {
    background: rgba(71, 171, 237, 0.2);
}

.stores h5 {
    color: #003481;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.stores h5,
.stores .services ul li {
    font-family: 'Signika' sans-serif;
}

.stores .store_info h6,
.stores .store_hours h6,
.stores .services h6 {
    font-size: 0.8em;
    margin-bottom: 3px;
}

.stores .store_info h6 {
    color: #CF0000;
}

.stores .store_hours h6 {
    color: #FF6600;
}

.stores .store_info p {
    margin-bottom: 0;
    font-size: 0.7em;
}

#hide_icon {
    visibility: hidden;
}

.stores .services h6 {
    padding-top: 4px;
}

.stores .services ul,
.stores .store_hours ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.stores .services ul li {
    display: inline-block;
    font-size: 0.45em;
    padding: 3px 5px;
    border: 1.5px solid #47ABED;
    border-radius: 5px;
    color: #47ABED;
    margin-right: 3px;
}

.stores .services ul li:hover {
    background: #47ABED;
    color: #fff;
    cursor: pointer;
}

.stores .store_hours ul li {
    display: block;
    font-size: 0.4em;
}

#left_content {
    padding-right: 0;
}

#right_content {
    padding-left: 0;
}

.icon-home,
.icon-phone,
.icon-map-marker,
.icon-dashboard {
    color: #47ABED;
}

.stores .store_hours .day {
    font-weight: bold;
}

#load_store,
#load_comment {
   border-radius: 5px;
   font-family: 'Signika' sans-serif;
   margin-top: 5px;
   background: #fff;
   color: #47ABED;
   border: 2px solid #47ABED;
}

#load_store:hover,
#load_comment:hover {
   background: #47ABED;
   color: #fff;
}

/*****************************
Footer 
*****************************/

.footer {
    padding: 15px 0;
    text-align: center;
    border-top: 2px solid #47ABED;
    margin-top: 10px;
}

.footer p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.footer span {
    color: rgba(71, 171, 237, 0.8);
}

.footer span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer h3,
.footer p {
    color: #878787;
}

.footer .icon-facebook-sign {
    color: #3B5998;
}

.footer .icon-twitter-sign {
    color: #00ACED;
}

.footer .icon-google-plus-sign {
    color: #DD4B39;
}

.footer .icon-youtube-sign {
    color: #BB0000;
}

.footer .icon-facebook-sign,
.footer .icon-twitter-sign,
.footer .icon-google-plus-sign,
.footer .icon-youtube-sign {
    opacity: 0.7;
}

.footer .icon-facebook-sign:hover,
.footer .icon-twitter-sign:hover,
.footer .icon-google-plus-sign:hover,
.footer .icon-youtube-sign:hover {
    cursor: pointer;
    opacity: 1;
}

/*****************************
Media Queries
*****************************/

@media (max-width: 40.063em) {
    
    .hero_image {
        max-height: 350px;
        padding: 50px 25px 0;
        margin-top: 0;
    }

    .title {
        font-size: 1.3em;
        border: none;
    }

    .hero_image h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    #products {
        margin-top: 0;
    }

    .search_store {
        padding: 10px 10px 0;
    }

    input[type="radio"]+label {
      margin-left: 0.1rem;
      margin-right: 0.2rem;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
    .search_store {
        padding: 80px 20px 0; 
    }
}

@media screen and (max-width: 40em) {

    .title {
        font-size: 1em;
    }

    .hero_image h1 {
        font-size: 4.5rem;
        line-height: 1;
    }

    #left_info,
    #right_info {
        padding-left: 2px;
        padding-right: 2px;
    }

    #products h1 {
        font-size: 1.2em;
    }

    .product .details h2 {
        font-size: 0.8em;
    }

    .product .img_price img {
        height: 80px;
    }

    .product .img_price .price_match {
        font-size: 0.7em;
    }

    .product .img_price h2 {
      font-size: 1.3em;
    }

    .product .img_price .onsale h4 {
      font-size: 1em;
    }

    .product .img_price .onsale .savings {
        font-size: 0.62em;
    }

    .product .details .sku {
        font-size: 0.65em;
    }

    .product .details p {
        font-size: 0.7em;
    }

    .product .details h3 {
      font-size: 0.85em;
    }

    .col {
      height: 250px;
    }
} 



