/*****************************
Baisc Page Layout
*****************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Signika:400,600);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0;
}

/*****************************
Fonts
*****************************/

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolitionregular/abolition-regular-webfont.eot');
  src: url('../fonts/abolitionregular/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolitionregular/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolitionregular/abolition-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "foundation-icons";
  src: url("../fonts/foundation-icons/foundation-icons.eot");
  src: url("../fonts/foundation-icons/foundation-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/foundation-icons/foundation-icons.woff") format("woff"),
       url("../fonts/foundation-icons/foundation-icons.ttf") format("truetype"),
       url("../fonts/foundation-icons/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*****************************
Navigation - Top Bar
*****************************/

@media only screen and (min-width: 40.063em) {

    .contain-to-grid{
        background: rgba(255, 255, 255, 0.95);
    }

    .contain-to-grid {
        border-bottom: 2px solid #47ABED;
        min-height: 74px;
        margin-bottom: 74px; 
    }

    .top-bar {
        padding-top: 12px;
    }

    .top-bar,
    .top-bar-section ul li,
    .top-bar-section li:not(.has-form) a:not(.button),
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: transparent;
    }

    .top-bar-section ul li {
        margin-right: 5px;
    }

    .top-bar .name h1 a,
    .top-bar-section ul li>a,
    .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #47ABED; 
        border: 2px solid transparent;
    }

    .top-bar .name h1 a,
    .top-bar-section ul li>a,
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        font-weight: bold;
    }

    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        color: #47ABED;   
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        color: #fff;
        background: #47ABED; 
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button),
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        border-radius: 5px;
        border: 2px solid #47ABED;
    }

    .top-bar .title-area {
        width: 66px;
        height: 66px;
        margin-top: -10px;
        margin-left: 30px;
    }

    .top-bar .title-area:hover {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn);
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
}

/*****************************
Navigation - Offcanvas menu
*****************************/

.tab-bar {
    color: #47ABED;
    border-bottom: 2px solid #47ABED; 
}

.tab-bar,
.right-off-canvas-menu {
    background: rgba(255, 255, 255, 0.95);
}

.right-small {
    border-left: 2px solid #47ABED; 
}

.tab-bar .menu-icon span::after {
    box-shadow: 0 0 0 1px #47ABED,0 7px 0 1px #47ABED,0 14px 0 1px #47ABED;
}

.tab-bar-section img {
    width: 2.3rem;
    height: 2.3rem;
    margin-bottom: 5px;
}

.tab-bar-section img:hover {
    -webkit-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    transform: rotate(1turn);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

ul.off-canvas-list li label {
    background: rgba(71, 171, 237, 1);
}

ul.off-canvas-list li label,
ul.off-canvas-list li a:hover,
ul.off-canvas-list li.active a {
    color: #fff;
} 

ul.off-canvas-list li a {
    color: rgba(71, 171, 237, 0.7);
    border-bottom-color: #47ABED;
}

ul.off-canvas-list li a:hover {
    background: rgba(71, 171, 237, 0.7);
}

ul.off-canvas-list li.active {
    background: rgba(71, 171, 237, 0.7);
}

/*****************************
Hero Image
*****************************/

.hero_image {
    margin-top: 74px;
    padding-top: 100px;
    height: 700px;
    background: linear-gradient(#47ABED, transparent 90%), 
                linear-gradient(0deg, #fff, transparent), 
                #47ABED url('../img/apple-ipad.png') no-repeat center;
    background-size: cover;
    text-align: center;
}

.title {
    font-size: 1.625rem;
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

.hero_image h1 {
    font-size: 5.625rem;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    margin: 12px 0 0;
    font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

.title,
.hero_image h1 {
    color: white;
}

.arrow {
    width: 50px;
    margin-top: 200px;
}

.arrow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

/*****************************
Recommedation Page Layout
*****************************/

#products {
    margin-top: -100px;
}

#left_info,
#right_info {
    padding-left: 0;
    padding-right: 0;
}

#products h1 {
    font-family: 'Signika' sans-serif;
    color: #CF0000;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 40px;
}

.product .img_price {
    text-align: center;
}

.product .img_price img {
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 120px;
}

.product .img_price p,
.product .details .sku {
    text-transform: uppercase;
}

.product .img_price .price_match {
    color: #47ABED;
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 0;
}

.product .img_price .price_match span {    
    font-weight: 800;
}

.product .img_price h2 {
    font-size: 1.6em;
}

.product .img_price .onsale h4 {
    font-size: 1.2em;
    color: #FF6600;
}

.product .img_price .onsale .savings {
    color: #CF0000;
    font-size: 0.8em;
    padding-top: 5px;
}

.product .img_price .onsale .savings span {
    color: rgba(0, 0, 0, 0.5);
}

.product .details h2,
.product .details h3 span {
    color: #003481;
}

.product .details h2 {
    font-size: 1em;
}

.product .details a:hover {
    text-decoration: underline;
}

.product .details .sku { 
    font-size: 0.75em;
    padding-top: 5px;
    margin-bottom: 0;
}

.product .details .sku span {
    font-weight: bold;
}

.product .details p {
    padding-top: 10px;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.product .details h3 {
    font-size: 1.2em;
}

.product .details h3 span {
    font-size: 0.8em;
    padding-left: 5px;
}

.product .details .fi-star {
    color: #FFCC00;
}

.col {
    height: 290px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.col:hover {
    background: rgba(71, 171, 237, 0.2);
    border-radius: 10px;
}

/*****************************
Product Details Page
*****************************/

.product_details {
    padding-top: 90px;
}

.product_details .breadcrumb ul {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;  
}

.product_details .breadcrumb li {
    margin-right: 3px;
    font-size: 0.9em;    
}

.product_details .breadcrumb li,
.product_details .short_info h2,
.accordion__tab-title {
    font-family: 'Signika' sans-serif;
}

.product_details .breadcrumb a {  
    color: #47ABED;
}

.product_details .breadcrumb a:hover {
    text-decoration: underline;
}

.product_details .breadcrumb li,
.product_details .breadcrumb .divider {
    display: inline-block;
}

.product_details .breadcrumb .divider {
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #878787;
    margin-left: 5px;
}

.product_details .prod_img {
    padding-top: 30px;
}

.product_details .prod_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
}

.product_details .short_info h2 {
    font-size: 1.8em;
    color: #003481;
    font-weight: 800;
}

.product_details .short_info p {
    font-size: 0.95em;
}

#manuf {
    font-style: italic;
}

#manuf span {
    color: #CF0000;
}

#manuf span:first-child {
    margin-right: 20px;
}

#manuf span:first-child:hover,
.product_details .shipping p:hover,
#reviews_count:hover,
#submit_time:hover,
#username:hover {
    text-decoration: underline;
    cursor: pointer;
}

#manuf span:not(:first-child) {
    color: #003481;
    font-style: normal;
    font-size: 0.85em;
}

#manuf i {
    color: #FFCC00;
}

.product_details .prod_price {
    padding: 10px 2.5% 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.product_details .prod_price p {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.product_details .prod_price .model {
    font-size: 0.8em;
}

.product_details .prod_price .model span,
.product_details .prod_price .price_match span {
    font-weight: bold;
}

.product_details .prod_price .price_match {
    font-size: 1em;
    color: #47ABED;
    text-transform: uppercase;
}

.product_details .prod_price h3 {
    font-size: 2em;
    margin-bottom: 5px;
}

.product_details .onsale h4 {
    font-size: 1.5em;
    color: #FF6600;
}

.product_details .onsale h4:nth-child(2) {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.product_details .onsale h4 span {
    color: #CF0000;
}

.product_details .buy_item {
    background: #47ABED;
    border-radius: 5px;
}

.product_details .buy_item:hover {
    background: #3A8BC0;
}

.product_details .shipping h3 {
    font-size: 1.3em;
    margin-bottom: 0;
}

.product_details .shipping p {
    font-size: 0.8em;
    color: #3A8BC0;
}

.accordion__container {
    border: none;
    width: 90%;
}

.accordion__tab,
.available h5 {
    color: #878787;
}

.accordion__tab:nth-child(3) {
    border-bottom: 2px solid #878787;
}

.accordion__tab-title {
    padding: 8px;
    cursor: pointer;
}

.accordion__tab-title i {
    color: #CF0000;
}

.accordion__tab-title,
.accordion__tab-content {
    border-top: 2px solid #878787;
} 

.accordion__tab-content {
    padding: 10px;
}

#change {
    padding-top: 0;
}

#include_items {
    margin-bottom: 0;
}

#include_items li {
    color: #003481;
    font-size: 1em;
}

#specs thead tr th {
    color: #003481;
} 

.available h5 {
    font-size: 0.9em;
}
.available span {
    color: #009933;
}

#specs {
    border: none;
    margin-bottom: 0;
}

#specs thead,
#specs tbody tr:nth-child(even) {
    background: #fff;
}

#specs tbody tr:nth-child(odd) {
    background: rgba(71, 171, 237, 0.1);
}

#product_info {
    margin-bottom: 20px;
}

/*****************************
Similiar Products Section
*****************************/

#also_like .flexslider,
#also_viewed .flexslider {
    margin-bottom: 0;
}

#also_like .flexslider li,
#also_viewed .flexslider li {
   margin-right: 5px;
   width: 196px;
   padding-top: 15px;
}

#also_like .flexslider img,
#also_viewed .flexslider img {
   height: 120px;
   max-width: 180px;
   margin-bottom: 20px;
   margin-right: auto;
   margin-left: auto;
}

#also_like .flexslider p,
#also_viewed .flexslider p {
    margin-bottom: 0;
    font-size: 0.8em;
    color: #3A8BC0;
    padding-left: 10px;
}

#also_like .flexslider a:hover,
#also_viewed .flexslider a:hover {
    text-decoration: underline;
}

#also_like .score i,
#also_viewed .score i {
    color: #FFCC00;
    font-size: 1.3em;
}

#also_like .score span,
#also_viewed .score span {
    color: #878787;
}

#also_like .flexslider h5,
#also_viewed .flexslider h5 {
    font-size: 0.95em;
    padding-left: 10px;
}

#also_like .flexslider h5 span,
#also_viewed .flexslider h5 span {
    color: #CF0000;
}

#also_like .flex-control-nav,
#also_viewed .flex-control-nav {
    display: none;
}

#also_like .flex-direction-nav a,
#also_viewed .flex-direction-nav a {
    height: 50px;
    top: 40%;
}

#also_like .flex-direction-nav a:before,
#also_viewed .flex-direction-nav a:before {
    color: rgba(71, 171, 237, 0.8);
}

/*****************************
Comment Section
*****************************/

.title_info {
    font-size: 1.5em;
    color: #003481;
    border-bottom: 1px solid #003481;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.overall_info {
    margin-bottom: 10px;
}

.overall_info h4 {
    font-size: 1.1em;
    color: #878787;
}

.overall_info i,
#rating i {
    color: #FFCC00;
}

.overall_info p {
    font-size: 2.3em;
    color: #3A8BC0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.2;
}

#reviews_count {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 2px;
}

.comments {
    padding: 20px 10px;
    border-top: 1px dotted rgba(71, 171, 237, 0.7);
    background: -webkit-linear-gradient(right top, rgba(71, 171, 237, 0.1), #fff); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(bottom left, rgba(71, 171, 237, 0.1), #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, rgba(71, 171, 237, 0.1), #fff); /* Standard syntax */  
}

.comments .comment_title {
    color: #003481;
    margin-bottom: 0.8rem;
    font-size: 1.1em;
}

.comment_content p,
.comments .comment_title {
    font-family: 'Signika' sans-serif;
}

#rating {
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

#rating span {
    color: #FF6600;
}

#post_by {
    font-size: 0.85em;
}

#username {
    color: #CF0000;
    font-size: 0.83em;
    font-weight: bold;
}

#submit_time {
    color: #878787;
    font-size: 0.8em;
}

.comment_content p {
    margin: 10px 0;
    font-size: 0.8em;
    padding: 0 8px;
}

#reviews_icon {
    color: #003481;
}

.comment_content span {
    font-size: 0.8em;
    color: #878787;
    margin-right: 5px;
}

#like,
#not_like,
#flag {
    font-size: 0.8em;
    padding: 5px 8px;
    margin-bottom: 0;
    border: 1px solid #47ABED;
}

#like:hover,
#not_like:hover,
#flag:hover {
    background: -webkit-linear-gradient(top, #fff, rgba(0, 0, 0, 0.1)); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(bottom , #fff, rgba(0, 0, 0, 0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0.1)); /* Standard syntax */  
}

/* Tooltip */
.my_tooltip {
  position: relative;
  opacity: 0.8;
}

.my_tooltip:hover {
  opacity: 1;
}

.my_tooltip span {
  background: #CF0000;
  color: #f8f8f8;
  bottom: 100%;
  display: block;
  left: -100px;
  opacity: 0;
  white-space: nowrap;
  padding: 7px 15px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 5px;
  box-shadow: none;
  font-size: 13px;
  -webkit-transform: translateY(25px);
     -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
          transition: all .25s ease-out;
}

.my_tooltip span:before {
    border: solid;
    border-color: #CF0000 transparent;
    border-width: 5px 5px 0 5px;
    bottom: -5px;
    content: "";
    display: block;
    left: 8.5em;
    position: absolute;
}

.my_tooltip:hover span {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

/*****************************
Store Search Fields
*****************************/

.search_store {
    padding-top: 80px;
}

fieldset, 
input[type="text"],
select {
    border-radius: 5px;
}

select:hover,
input[type="text"]:focus {
    background: rgba(71, 171, 237, 0.05);   
}

select:hover,
input[type="text"]:focus,
input[type="text"],
select {
    border-color: rgba(71, 171, 237, 0.4);
}

input[type="text"]:focus {
    box-shadow: 0 0 5px rgba(71, 171, 237, 0.8);
}

input[type="text"],
select {
    box-shadow: inset 0 1px 2px rgba(71, 171, 237, 0.1);
}

fieldset legend {   
    font-family: 'Signika' sans-serif;
}

label,
fieldset legend {
    color: #3A8BC0;
}

select {
    background-color: #fff;
}

.search_store .button {
    background-color: #47ABED; 
}

.search_store .button:hover {
    background-color: #3A8BC0;
}

.search_store .search_btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="text"]:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.formgroup {
    margin-top: 25px;
}

#filter_left,
#filter_middle,
#filter_right {
    padding-left: 0;
}

input[type="radio"]+label {
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}

/*****************************
Store Search Results
*****************************/

.results .nofound {
    text-align: center;
    padding-top: 15px; 
}

.results .nofound h2 {
    color: #47ABED;
    font-size: 1.5em;
}

.results .stores {
    padding-top: 15px;
}

.results h4 {
    font-size: 1em;
    color: #47ABED;
    margin-bottom: 10px;
}

.store {
    height: 300px;
    padding: 10px;
    border-radius: 10px;
}

.store:hover {
    background: rgba(71, 171, 237, 0.1);
    cursor: pointer;
}

.stores h5 {
    color: #003481;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.stores h5,
.stores .services ul li {
    font-family: 'Signika' sans-serif;
}

.stores .store_info h6,
.stores .store_hours h6,
.stores .services h6 {
    font-size: 0.8em;
    margin-bottom: 3px;
}

.stores .store_info h6 {
    color: #CF0000;
}

.stores .store_hours h6 {
    color: #FF6600;
}

.stores .store_info p {
    margin-bottom: 0;
    font-size: 0.7em;
}

#hide_icon {
    visibility: hidden;
}

.stores .services h6 {
    padding-top: 4px;
}

.stores .services ul,
.stores .store_hours ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.stores .services ul li {
    display: inline-block;
    font-size: 0.45em;
    padding: 3px 5px;
    border: 1.5px solid #47ABED;
    border-radius: 5px;
    color: #47ABED;
    margin-right: 3px;
}

.stores .services ul li:hover {
    background: #47ABED;
    color: #fff;
    cursor: pointer;
}

.stores .store_hours ul li {
    display: block;
    font-size: 0.4em;
}

#left_content {
    padding-right: 0;
}

#right_content {
    padding-left: 0;
}

.icon-home,
.icon-phone,
.icon-map-marker,
.icon-dashboard {
    color: #47ABED;
}

.stores .store_hours .day {
    font-weight: bold;
}

#load_store,
#load_comment,
#like,
#not_like,
#flag {
   border-radius: 5px;
   font-family: 'Signika' sans-serif;
   margin-top: 5px;
   background: #fff;
   color: #47ABED;
   border: 2px solid #47ABED;
}

#load_store:hover,
#load_comment:hover {
   background: #47ABED;
   color: #fff;
}

#flag {
    background: #CF0000;
    color: #fff;
    border: 2px solid #CF0000;
}

#flag:hover {
    color: #CF0000;
}

/*****************************
Footer 
*****************************/

.footer {
    padding: 15px 0;
    text-align: center;
    border-top: 2px solid #47ABED;
    margin-top: 10px;
}

.footer p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.footer span {
    color: rgba(71, 171, 237, 0.8);
}

.footer span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer h3,
.footer p {
    color: #878787;
}

.footer .icon-facebook-sign {
    color: #3B5998;
}

.footer .icon-twitter-sign {
    color: #00ACED;
}

.footer .icon-google-plus-sign {
    color: #DD4B39;
}

.footer .icon-youtube-sign {
    color: #BB0000;
}

.footer .icon-facebook-sign,
.footer .icon-twitter-sign,
.footer .icon-google-plus-sign,
.footer .icon-youtube-sign {
    opacity: 0.7;
}

.footer .icon-facebook-sign:hover,
.footer .icon-twitter-sign:hover,
.footer .icon-google-plus-sign:hover,
.footer .icon-youtube-sign:hover {
    cursor: pointer;
    opacity: 1;
}

/*****************************
Media Queries
*****************************/

@media (max-width: 40.063em) {
    
    .hero_image {
        max-height: 350px;
        padding: 50px 25px 0;
        margin-top: 0;
    }

    .title {
        font-size: 1.3em;
        border: none;
    }

    .hero_image h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    #products {
        margin-top: 0;
    }

    .search_store,
    .product_details {
        padding: 10px 10px 0;
    }

    input[type="radio"]+label {
      margin-left: 0.1rem;
      margin-right: 0.2rem;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    
    .search_store {
        padding: 80px 20px 0; 
    }

    .product_details {
        padding: 80px 25px 0;
    }
}

@media screen and (max-width: 40em) {

    .title {
        font-size: 1em;
    }

    .hero_image h1 {
        font-size: 4.5rem;
        line-height: 1;
    }

    #left_info,
    #right_info {
        padding-left: 2px;
        padding-right: 2px;
    }

    #products h1 {
        font-size: 1.2em;
    }

    .product .details h2 {
        font-size: 0.8em;
    }

    .product .img_price img {
        height: 80px;
    }

    .product .img_price .price_match {
        font-size: 0.7em;
    }

    .product .img_price h2 {
      font-size: 1.3em;
    }

    .product .img_price .onsale h4 {
      font-size: 1em;
    }

    .product .img_price .onsale .savings {
        font-size: 0.62em;
    }

    .product .details .sku {
        font-size: 0.65em;
    }

    .product .details p {
        font-size: 0.7em;
    }

    .product .details h3 {
        font-size: 0.85em;
    }

    .col {
        height: 250px;
    }

    .product_details .prod_img img {
        height: 200px;
        margin-bottom: 20px;
    }

    .product_details .short_info h2 {
        font-size: 1.4em;
    }

    .product_details .prod_price {
        padding: 10px 0 0;
        width: 98%;
    }

    #manuf span:not(:first-child) {
        display: block;
        margin-top: 5px;
    }

    #include_items li {
        font-size: 0.8em;
    }

    .available h5 {
        font-size: 0.7em;
    }

    .title_info {
        font-size: 1.1em;
    }

    .overall_info p {
        font-size: 1.8em;
    }

    .user img {
        min-width: 55px;
    }

    #rating {
        font-size: 0.85em;
    }

    #submit_time {
        display: block;
    }

    #mobile_setting {
        padding-left: 0;
    }

    #post_by {
        margin-bottom: 0;
    }

    #mobile_hide {
        display: none;
    }

    .store {
        height: 325px;
    }
} 



