<div class="product_details">
	<div class="row">
		<div class="breadcrumb">
			<ul>
				<li><a href="#/">Weila Buy</a> <span class="divider"></span></li>
				<li ng-hide="$first" ng-repeat="category in product.categoryPath">
					{{category.name}}
					<span class="divider"></span>
				</li>
				<li>Product Info</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="prod_img">
              <a ng-href="{{product.largeFrontImage}}">
              	 <img data-caption="{{product.name}}" ng-src="{{product.largeImage}}">
              </a>
            </div>
		</div>
		<div class="small-12 medium-8 columns">
			<div class="short_info">
				<h2>{{product.name}}</h2>
				<p id="manuf">
					By <span>{{product.manufacturer}}</span>
					<span class="reviews" ng-show="product.customerReviewAverage">
						Customer Rating: <i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i> {{product.customerReviewAverage}} ({{product.customerReviewCount}} Reivews)
					</span> 
                    <span class="reviews" ng-hide="product.customerReviewAverage">
                    	<i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i>
                    	Be the first to write a review
                    </span>
				</p>
				<p ng-hide="product.longDescription.length < product.shortDescription.length">{{product.longDescription}}</p>
				<p ng-hide="product.longDescription.length > product.shortDescription.length">{{product.shortDescription}}</p>

		    </div>
		</div>
	</div>

	<div class="row" id="product_info">
		<div class="small-12 medium-4 columns">
			<div class="prod_price" >
              <p class="model"><span>Model: </span>{{product.modelNumber}} | <span>SKU: </span>{{product.sku}}</p>
              <p ng-show="product.lowPriceGuarantee" class="price_match"><i class="fi-price-tag large"></i><span> price match</span> gurantee</p>
              <h3 ng-show="product.regularPrice===product.salePrice">{{product.regularPrice | currency}}</h3>
              <h3 ng-show="product.regularPrice > product.salePrice">{{product.salePrice | currency}}</h3>
              <div class="onsale" ng-show="product.regularPrice > product.salePrice">
              	<h4>ON SALE</h4>
              	<h4><span>SAVE {{product.regularPrice - product.salePrice | currency}} </span>(Reg. {{product.regularPrice}})</h4>
              </div>
              <a href="{{product.url}}" class="button buy_item small-12 columns"><i class="icon-shopping-cart"></i> Buy the Item</a>
              <div class="shipping">
              	<h3><i class="icon-plane"></i> FREE SHIPPING</h3>
                <p ng-hide="product.freeShipping">on orders $35 and up</p>
              </div>        
            </div>
		</div>
		<div class="small-12 medium-8 columns">
		     <div class="accordion__container">
		     	<!-- .accordion__tab -->
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab1')">
		            	<i class="icon-caret-down"></i>  What's Included</div>
		            <div class="accordion__tab-content" ng-show="isOpenTab('tab1')">
		            	<ul id="include_items">
		            		<li ng-repeat="item in product.includedItemList">
		            			{{item.includedItem}}
		            		</li>
		            	</ul>
		            </div>
		        </div>

		        <!-- .accordion__tab -->
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab2')">
		            	<i class="icon-caret-down"></i> Product Specifications</div>
		            <div class="accordion__tab-content" id="change" ng-show="isOpenTab('tab2')">
		            	<table id="specs">
						  <thead>
						    <tr>
						      <th width="400">Specifications</th>
						      <th width="300">Details</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Warranty Terms - Parts</td>
						      <td>{{product.warrantyParts}}</td>
						    </tr>
						    <tr>
						      <td>Warranty Terms - Labor</td>
						      <td>{{product.warrantyLabor}}</td>
						    </tr>
						    <tr>
						      <td>Height</td>
						      <td>{{product.height}}</td>
						    </tr>
						    <tr>
						      <td>Width</td>
						      <td>{{product.width}}</td>
						    </tr>
						    <tr>
						      <td>Depth</td>
						      <td>{{product.depth}}</td>
						    </tr>
						    <tr>
						      <td>Weight</td>
						      <td>{{product.weight}}</td>
						    </tr>
						    <tr ng-hide="product.color===null">
						      <td>color</td>
						      <td>{{product.color}}</td>
						    </tr>
						  </tbody>
						</table>
		            </div>
		        </div>
		     
		        <!-- .accordion__tab -->
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab3')">
		            	<i class="icon-caret-down"></i>  Product Availability</div>
		            <div class="accordion__tab-content available" ng-show="isOpenTab('tab3')">
		            	<h5>
		            		<span ng-show="product.onlineAvailability" class="icon-ok-sign"></span>
		            		{{product.onlineAvailabilityText}}
		            	</h5>
		            	<h5>
		            		<span ng-show="product.inStoreAvailability" class="icon-ok-sign"></span>
		            		{{product.inStoreAvailabilityText}} Select the nearest store to pickup
		            	</h5>
		            </div>
		        </div>
		        <!-- .accordion__tab -->
		    </div>
		</div>
	</div>

	<div class="row" id="also_like">
		<h2 class="title_info"><i class="icon-smile"></i> Other Items You May Also Like</h2>
		<flex-slider slide="item in similarItems track by $index" animation="slide" animation-loop="false"
		item-width="196" item-margin="5" min-items="1" max-items="5" controlNav="false">
		    <item></item>
		</flex-slider>
	</div>

	<div class="row" id="also_viewed">
		<h2 class="title_info"><i class="icon-eye-open"></i> Customers Who Viewed This Item Also Viewed</h2>
		<flex-slider slide="item in alsoViewed track by $index" animation="slide" animation-loop="false"
		item-width="196" item-margin="5" min-items="1" max-items="5" controlNav="false">
		   <div item></div>
		</flex-slider>
	</div>

	<div class="row">
		<div class="overall_info">
			<h2 class="title_info"><i class="icon-comments" id="reviews_icon"></i> Weila Buy Customer Reviews</h2>
			<h4>Overall Customer Rating: </h4>
			<p><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><span> {{product.customerReviewAverage}}</span></p>
			<p id="reviews_count">({{product.customerReviewCount}} reviews)</p>		
		</div>

		<div class="comments" ng-repeat="review in reviews.reviews">
			<p class="comment_title">{{review.title}}</p>
			<div class="user row">
				<div class="small-3 columns">
					<img src="img/user_avatar.png" alt="Photo for user" />
				</div>
				<div class="small-9 columns" id="mobile_setting">
					<p id="rating">Customer Rating: <i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i><i class="fi-star large"></i> <span>{{review.rating}}.0</span></p>
					<p id="post_by" ng-repeat="item in review.reviewer">Post by: <span id="username">{{item.name}}</span> on <span id="submit_time">{{review.submissionTime | date:'EEEE, MMM d, y, h:mma'}}</span></p>
				</div>
				<div class="small-12 columns comment_content">
					<p><i class="icon-comment"></i> {{review.comment}}</p>
					<div class="small-8 columns">
						<span id="mobile_hide">Was this reviews helpful?</span>
						<button id="like" ng-click="incrementLike()"><i class="icon-thumbs-up-alt"></i> {{like}}</button>
						<button id="not_like" ng-click="incrementNotLike()"><i class="icon-thumbs-down-alt"></i> {{notLike}}</button>
					</div>
					<div class="small-4 columns">
						<button id="flag" class="right my_tooltip">
							<i class="icon-flag"></i>
							<span>Flag as inappropriate</span>
						</button>
					</div>
				</div>	
			</div>
		</div>
		<button ng-show="reviews.totalPages > reviews.currentPage" 
			    ng-click="reviews.loadMore()"
			    class="button small-12 columns" id="load_comment">Load More Reviews</button>			
	</div>
</div>
