<div class="container">
	<div class="row">
		<div class="category_lists">
			<ul>
				<li>Weila Buy</li>
				<li ng-hide="$first" ng-repeat="category in product.categoryPath">{{category.name}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<ul class="clearing-thumbs prod_img" data-clearing>
              <li></li><a ng-href="{{product.largeFrontImage}}">
              	 <img data-caption="{{product.name}}" ng-src="{{product.largeImage}}">
              </a></li>
            </ul>
		</div>
		<div class="small-12 medium-8 columns">
			<div class="short_info">
				<h2>{{product.name}}</h2>
				<p>By {{product.manufacturer}}</p>
				<p ng-hide="product.longDescription.length < product.shortDescription.length">{{product.longDescription}}</p>
				<p ng-hide="product.longDescription.length > product.shortDescription.length">{{product.shortDescription}}</p>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="prod_price" >
              <p>Model: <span>{{product.modelNumber}}</span> | SKU: <span>{{product.sku}}</span></p>
              <h4>Customer Rating: {{product.customerReviewAverage}} ({{product.customerReviewCount}} Reivews)</h4>
              <p ng-show="product.lowPriceGuarantee">PRICE <span>GURANTEE</span></p>
              <h3 ng-show="product.regularPrice===product.salePrice">{{product.regularPrice | currency}}</h3>
              <h3 ng-show="product.regularPrice > product.salePrice">{{product.salePrice | currency}}</h3>
              <div class="onsale" ng-show="product.regularPrice > product.salePrice">
              	<h4>ON SALE</h4>
              	<h4>SAVE {{product.regularPrice - product.salePrice | currency}} <span>(Reg. {{product.regularPrice}})</span></h4>
              </div>
              <a href="{{product.url}}" class="button radius">Buy the item</a>
              <h3>FREE SHIPPING</h3>
              <p ng-hide="product.freeShipping">on orders $35 and up</p>
            </div>
		</div>
		<div class="small-12 medium-8 columns">
		     <div class="accordion__container">
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab1')">Product Specifications</div>
		            <div class="accordion__tab-content" ng-show="isOpenTab('tab1')">
		            	<table>
						  <thead>
						    <tr>
						      <th width="400">Specifications</th>
						      <th width="300">Details</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Warranty Terms - Parts</td>
						      <td>{{product.warrantyParts}}</td>
						    </tr>
						    <tr>
						      <td>Warranty Terms - Labor</td>
						      <td>{{product.warrantyLabor}}</td>
						    </tr>
						    <tr>
						      <td>Height</td>
						      <td>{{product.height}}</td>
						    </tr>
						    <tr>
						      <td>Width</td>
						      <td>{{product.width}}</td>
						    </tr>
						    <tr>
						      <td>Depth</td>
						      <td>{{product.depth}}</td>
						    </tr>
						    <tr>
						      <td>Weight</td>
						      <td>{{product.weight}}</td>
						    </tr>
						    <tr ng-hide="product.color===null">
						      <td>color</td>
						      <td>{{product.color}}</td>
						    </tr>
						  </tbody>
						</table>
		            </div>
		        </div>
		        <!-- .accordion__tab -->
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab2')">What's Included</div>
		            <div class="accordion__tab-content" ng-show="isOpenTab('tab2')">
		            	<ul>
		            		<li ng-repeat="item in product.includedItemList">
		            			{{item.includedItem}}
		            		</li>
		            	</ul>
		            </div>
		        </div>
		        <!-- .accordion__tab -->
		        <div class="accordion__tab">
		            <div class="accordion__tab-title" ng-click="openTab('tab3')">Product Availability</div>
		            <div class="accordion__tab-content" ng-show="isOpenTab('tab3')">
		            	<h5>
		            		<span ng-show="product.onlineAvailability">Yes </span>
		            		Shipping: {{product.onlineAvailabilityText}}
		            	</h5>
		            	<h5>
		            		<span ng-show="product.inStoreAvailability">Yes </span>
		            		{{product.inStoreAvailabilityText}} Select the nearest store to pickup
		            	</h5>
		            </div>
		        </div>
		        <!-- .accordion__tab -->
		    </div>
		</div>
	</div>

	<div class="row">
		<h2>Other Items You May Also Like</h2>
		<div class="responsive_img">
		    <div ng-repeat="item in similarItems">
		    	<img ng-src="{{item.images.standard}}" alt="{{item.names.title}}"/>
		    	<h3>{{item.names.title}}</h3>
		    	<p>{{item.customerReviews.averageScore}} ({{item.customerReviews.count}})</p>
		    	<h5 ng-show="item.prices.regular===item.prices.current">{{item.prices.regular | currency}}</h5>
		    	<h5 ng-show="item.prices.regular > item.prices.current">Sale: {{item.prices.current | currency}}</h5>
		    </div>
		</div>
	</div>

	<div class="row">
		<h2>Customers Who Viewed This Item Also Viewed</h2>
		<div class="responsive_img">
		    <div ng-repeat="item in alsoViewed">
		    	<img ng-src="{{item.images.standard}}" alt="{{item.names.title}}"/>
		    	<h3>{{item.names.title}}</h3>
		    	<p>{{item.customerReviews.averageScore}} ({{item.customerReviews.count}})</p>
		    	<h5 ng-show="item.prices.regular===item.prices.current">{{item.prices.regular | currency}}</h5>
		    	<h5 ng-show="item.prices.regular > item.prices.current">Sale: {{item.prices.current | currency}}</h5>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="overll_info">
			<h2>Weila Buy Customer Reviews</h2>
			<h4>Overall Customer Rating:</h4>
			<h3>{{product.customerReviewAverage}} <span>({{product.customerReviewCount}} reviews)</span></h3>
		</div>
		<div class="row">
			<div class="reviews" ng-repeat="review in reviews">
				<h3>{{review.title}}</h3>
				<div class="user">
					<img src="img/user_avatar.png" alt="Photo for user" />
					<p>Customer Rating</p>
					<h3><span></span> {{review.rating}}</h3>
					<p ng-repeat="item in review.reviewer">Post by: {{item.name}} on <span>{{review.submissionTime | date:'MM/dd/yyyy h:mma'}}</span></p>
					<h5>{{review.comment}}</h5>
				</div>
			</div>
			<button class="button info radius">Load More Reviews</button>			
		</div>
	</div>
</div>
